.todo-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#taskInput {
    width: calc(80% - 20px);
    /* Adjusting width to accommodate button margin */
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#addTaskBtn {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Adding transition effect */
    margin-right: 0;
    /* Remove right margin */
}

#addTaskBtn:hover {
    background-color: #45a049;
}

#todo-list {
    max-height: 300px;
    overflow-y: auto;
    padding-left: 0;
    list-style-type: none;
    margin-top: 20px;
    /* Adding margin between input/button and list */
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    /* Adjust based on your design */
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.edit-task-btn,
.mark-as-read-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Adding transition effect */
    float: right;
    margin-left: 10px;
}

.edit-task-btn:hover,
.mark-as-read-btn:hover {
    background-color: #0056b3;
}

/* Adjusting space between buttons */
.edit-task-btn:first-child {
    margin-right: 5px;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    /* Adjust based on your design */
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttons-container {
    display: flex;
    gap: 10px;
    /* Adjust the space between buttons */
}